<html>
<title>${title}</title>
<head>

</head>
<body>

    #set ($foo = "Velocity!!zz")
<h1>${body}</h1>
<h3>Hello $foo world!!</h3>

    #set( $boogie = ["a", "b", "c", "d", "e"] )

    #foreach ($woogie in $boogie)
    <h4>nothing will happen to ${woogie}</h4>
    #end


<!-- =================== -->

    #set($foo=10)
    #set($bar=6)

    #if( $foo < 10 )
    <strong>Go North</strong>
    #elseif( $foo == 10 )
    <strong>Go East</strong>
    #elseif( $bar == 6 )
    <strong>Go South</strong>
    #else
    <strong>Go West</strong>
    #end

<!-- =================== -->

    #set ($foo = "deoxyribonucleic acid")
    #set ($bar = "ribonucleic acid")

    #if ($foo == $bar)
    same!!
    #else
    not same!!
    #end


</body>
</html>

