<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="Altibase.jdbc.driver.AltibaseDriver" />
        <beans:property name="url" value="jdbc:Altibase://localhost:8801/mydb?encoding=UTF8" />
        <!--<beans:property name="url" value="jdbc:Altibase://192.168.1.195:8801/mydb?encoding=UTF8" />-->
        <beans:property name="username" value="saltuser" />
        <beans:property name="password" value="saltuser" />
    </beans:bean>

    <!--<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/mydb" />
        <beans:property name="username" value="saltuser" />
        <beans:property name="password" value="saltuser" />
    </beans:bean>-->

    <beans:bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource" />
        <beans:property name="configLocation" value="classpath:/mybatis-config.xml" />
        <beans:property name="mapperLocations" value="classpath:mappers/**/*Mapper.xml" />
    </beans:bean>

    <beans:bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <beans:constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
    </beans:bean>


</beans:beans>
