<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="salt.mapper.memberMapper">

    <select id="getMemberInfo" parameterType="String" resultType="com.winterfell.pilot.domain.MemberVO">
        SELECT ID
              , NAME
              , EMAIL
              , PHONE
              , ADDR
              , BIRTHDAY
              , PWD
              , REGDATE
              , MODDATE
              , LOGINCNT
              , ETC
          FROM T_MEMBER
         WHERE ID = #{id}
    </select>

    <select id="getMemberList" parameterType="com.winterfell.pilot.domain.MemberVO" resultType="HashMap">
        SELECT id
        , name
        , email
        , phone
        , addr
        , birthday
        , pwd
        , regdate
        , moddate
        , logincnt
        , etc
        FROM T_MEMBER
    </select>

    <insert id="addMember" parameterType="com.winterfell.pilot.domain.MemberVO">
        INSERT INTO T_MEMBER
               (id, name, email, phone, addr, birthday, pwd, modDate, etc)
        VALUES ( #{id}, #{name}, #{email}, #{phone}, #{addr}, #{birthday}, #{pwd}, NULL, #{etc} )
    </insert>

    <insert id="modMember" parameterType="com.winterfell.pilot.domain.MemberVO">
        UPDATE T_MEMBER
        SET id = #{id}
           , name = #{name}
           , email = #{email}
           , phone = #{phone}
           , addr = #{addr}
           , birthday = #{birthday}
           , pwd = #{pwd}
           , modDate = SYSDATE
           , etc = #{etc}
        WHERE ID = #{id}
    </insert>

    <delete id="delMember" parameterType="String">
        DELETE FROM T_MEMBER
         WHERE ID = #{id}
    </delete>

</mapper>