<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="salt.mapper.SaltMapper">

    <select id="getNow" resultType="String">
        select sysdate from dual
    </select>



    <select id="getEmp" resultType="com.winterfell.pilot.domain.EmpVO">
        select *
        from EMP
        where empno = #{empNo}
    </select>

    <select id="getEmpList" resultType="com.winterfell.pilot.domain.EmpVO">
        select *
        from emp
    </select>

</mapper>